<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91E815FC1EC1F8DE00B1DEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E816151EC1F8DF00B1DEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E816201EC1F8DF00B1DEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
